
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
    --jungle-green: #2c9f7d;
    --ultra-red: #ff7383;
    --bright-gray: #e9f4f1;


    --reeciclae-green: var(--jungle-green);
    --reeciclae-red: var(--ultra-red);
    --reeciclae-light: var(--bright-gray);

    --reeciclae-text-dark: #030e06;
    --reeciclae-text-light: var(--bright-gray);

    --bs-navbar-color: var(--bright-gray);
    --bs-natbar-active-color: #030e06;
    --bs-nav-link-color: var(--bright-gray); 

    font-family: 'Lato', serif;
    font-size: 1em;
    color: var(--reeciclae-text-dark);
}

html, body {
    background: var(--reeciclae-light);


}

.bg-body-reeciclae {
    background: var(--jungle-green) ;
}

.navbar {
    color: var(--reeciclae-light);

}

.navbar-brand {
    background-image: url('../images/ReeciclaE.plain.inverted.svg');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
}